#header {
    width: 100%;
    height: 67px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eeee;

    .left {
        display: flex;
        align-items: center;

        .logo {
            font-size: 30px;
            padding: 10px;
            font-family: var(--mainfont-gmark);
            text-transform: capitalize;
        }

        .nav {
            margin-right: 10px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;

                li {
                    a {
                        display: inline-block;
                        padding: 10px;
                        text-decoration: none;
                        color: var(--white);
                        font-size: 15px;

                        &:hover {
                            color: var(--highlight-color); // Add a highlight color on hover
                        }
                    }
                }
            }
        }
    }

    .right {
        ul {
            list-style: none;
            margin: 0;
            margin-right: 50px;
            padding: 0;
            display: flex;

            li {
                margin-left: 10px;

                a {
                    display: inline-block;
                    padding: 10px;
                    text-decoration: none;
                    color: var(--white);

                    &:hover {
                        color: var(--highlight-color); // Add a highlight color on hover
                    }
                }
            }
        }
    }
}